<p id="notice"><%= notice %></p>

<p>
  <strong>Public account:</strong>
  <%= @diymenu.public_account %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @diymenu.parent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @diymenu.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @diymenu.key %>
</p>

<p>
  <strong>Url:</strong>
  <%= @diymenu.url %>
</p>

<p>
  <strong>Is show:</strong>
  <%= @diymenu.is_show %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @diymenu.sort %>
</p>

<%= link_to 'Edit', edit_diymenu_path(@diymenu) %> |
<%= link_to 'Back', diymenus_path %>
