<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weixin Public Account Management</title>
    <%= stylesheet_link_tag    "weixin_pam/application", media: "all" %>
    <%= javascript_include_tag "weixin_pam/application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-page="<%= @page_name %>">
    <div id="flash-message-box"></div>
    <div class="container">
      <%= render 'layouts/weixin_pam/nav_bar' %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>